<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1 class="piedra createtitle">Crear nueva CreepyPic</h1>		
	</div>
</div>
<div class="row crear-btn-container">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
		<img src="img/capturar-nueva-foto.png"  ng-click="getPhoto()"/>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
		<img src="img/buscar-albumes.png" />
	</div>	
</div>
<div class="back-btn text-center">
	<img src="img/back-arrow.png"  ng-click="goToHome()" />	
</div>

