@font-face {
    font-family: 'piedra';
    src: url('../fonts/Piedra-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Piedra-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Piedra-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Piedra-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Piedra-Regular.svg#Piedra-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'amarante';
    src: url('../fonts/Amarante-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Amarante-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Amarante-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Amarante-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Amarante-Regular.svg#Amarante-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'unicaone';
    src: url('../fonts/UnicaOne-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/UnicaOne-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/UnicaOne-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/UnicaOne-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/UnicaOne-Regular.svg#UnicaOne-Regular') format('svg'); /* Legacy iOS */
}

body {
    height: 100%;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url(../img/fondo.jpg);
    background-size: auto 100%;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.container#general-wrapper {
    
}

.piedra {
    font-family: 'piedra', sans-serif;
    color: #fff;
}

.unicaone {
    font-family: 'unicaone', sans-serif;
    color: #fff;
}

.hometitle {
    padding-top: 10%;
    font-size: 72px;
    text-align: center;
    margin-bottom: 30%;
}

.createtitle {
    padding-top: 10%;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10%;
}

.btn-front {
    font-size: 250%;
}

.btn-front img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.crear-btn-container div img {
    width: 100%;
    max-width:400px;
    height: auto;
}

.back-btn {
    position: absolute;
    width: 100%;
    bottom: 10px;
}


@media (max-height: 600px) and (orientation: landscape) {
    .hometitle {
        padding-top: 5%;
        margin-bottom: 8%;
    }  
    .btn-front img {
        width: 60%;
    }

}

@media (max-height: 400px)  {
    .createtitle {
        padding-top: 5%;
        font-size: 40px;
        text-align: center;
        margin-bottom: 5%;
    }
    .crear-btn-container div img {
        width: 60% !important;
        max-width:300px !important;;
        height: auto; 
    }
}

@media (max-height: 321px)  {
    .createtitle {
        padding-top: 3%;
        font-size: 35px;
        text-align: center;
        margin-bottom: 3%;
    }
    .crear-btn-container div img {
        width: 60% !important;
        max-width:300px !important;;
        height: auto; 
    }
}
